<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/burgerStyle.css">
    <title>Burgers</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgeradd.js"></script>
</head>
<body id="container">
    {{{ body }}}
</body>
</html>